<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225293433346-jhc81j0fpjcccgp11nkgkefs7d4j1p7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225293433346-jhc81j0fpjcccgp11nkgkefs7d4j1p7h</string>
	<key>API_KEY</key>
	<string>AIzaSyC-2KUlez4f8ZGV780sDDgzT6fhuyflBH8</string>
	<key>GCM_SENDER_ID</key>
	<string>225293433346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leticiacoelho.snackbyte</string>
	<key>PROJECT_ID</key>
	<string>tcc-leticia-b16b1</string>
	<key>STORAGE_BUCKET</key>
	<string>tcc-leticia-b16b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225293433346:ios:78c565a70db8f0be65051b</string>
</dict>
</plist>